<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Solution</title>

</head>
<style>
    p {
        text-align: center;
    }
</style>
<body>
{% extends 'quit.html' %}
{% block content %}

    <table id="grid">
        {% for key, value in soln.items() %}
            <tr>
                {% for k, v in value.items() %}
                    <td bgcolor={{ v[1] }}><input id={{ k }}  type="text"
                                                  STYLE="font-weight: bold; border: 0; background-color: {{ value[1] }}"
                                                  value={{ v[0] }} disabled maxlength="1" size="4x" class="fix"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}
</body>

</html>